
#clock {
    font-size: 175px;
    width: 900px;
    margin: 200px;
    text-align: center;
    border: 10px solid black;
  
   
    border-radius: 20px;
   animation: animate 1.5s linear infinite;
   background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
   -webkit-background-clip : text;
   -webkit-text-fill-color: transparent;
   animation: animate 1.5s linear infinite;
   
}
@keyframes animate {
    100%{
      filter: hue-rotate(360deg);
    }
  }

		